
*{
  margin: 0;
}

@media screen and (max-width: 768px) {
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #233E83;
    padding: 10px 5%;
  }

header{
    width: 100%;
    background-color: #d21709
}

  .top-header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
    .Logotipo{
    width: auto;
}
  .Logotipo img {
    height: 100px;
    
    display: block;
  }

  .interface{
    display: none;
  }

  .btn-social {
    display: flex;
    gap: 10px;
  }

  .btn-social button {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .btn-social i {
    color: #fff;
  }

.card-container1 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
    
}

.card-container1 img{
 max-width: 100%;
 display: block;
 height: 300px;
 border-radius: 10px;

}


  h1{
    font-size: 1.0rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .infor h3 {
    font-size: 1.4rem;
    margin: 10px;
    text-align: start;
  }

  .infor p {
    text-align: start;
    margin: 10px;
    border-bottom: 2px solid #ccc;
  }

/*kit's*/
.container-kits h5 {
    font-size: 2.4rem;
  }

  .dia-dia-img {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .dia-dia-img img {
    max-width: 100%;
  }

  .dia-dia-img p {
    font-size: 1.8rem;
    text-align: center;
  }

  .dia-dia-img li {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .container-kits h5 {
    font-size: 2rem;
  }

  .dia-dia-img {
    gap: 20px;
  }

  .dia-dia-img p {
    font-size: 1.6rem;
  }

  .dia-dia-img li {
    font-size: 1.3rem;
  }
}



/*sobre*/


 .text {
    font-size: 1.4rem;
    text-align: start;
    padding:20px 30px 30px 30px;
    background-color: #ECECEC;
    
}

.info {
    background-color: #ffffff;
     padding: 20px 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    
    
}

@media (max-width: 768px) {
  section.slider {
    width: 100%;
  }

  section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
      padding: 10px;
      overflow: hidden;
          
}
.silder-wrapper{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;

}

.slider-content{
    width: 400%;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none; 
}

.slide-box{
    width: 25%;
    transition: .2s;
    
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    margin-top: 100%;
    width: auto;
    display: flex;
    justify-content: center;
  
}

.nav-manual  .manual-btn , .nav-auto div{
    border: 2px solid #233E83;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right:8px;
}

.nav-manual .manual-btn:hover{
    background-color: #d21709;
}

#radio1:checked ~ .nav-auto  .auto-btn1{
    background-color: #d21709;
}

#radio2:checked ~ .nav-auto  .auto-btn2{
    background-color: #d21709;
}

#radio3:checked ~ .nav-auto  .auto-btn3{
    background-color: #d21709;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

  

  .about-us-row {
    flex-direction: column;
    align-items: center;
  }

  .about-us-row img {
    width: 50%;
    
  }


@media (max-width: 500px) {
  .nav-manual .manual-btn,
  .nav-auto div {
    padding: 6px;
  }

  .about-us-row  p {
    display: flex;
    align-items: center;
    text-align: center;
  }

  }





/*espetinho*/
.cards {
  width: 375px;
  height: auto;
  margin: 0;
  padding: 0px;
  border-radius: 10px;
  font-weight: 30px;
  background-color: #fff;
}

.cards h1 {
  text-align: start;
  color: #233E83;
  font-weight: 1.1rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.cards ul {
  padding-left: 0%;
}

.cards li {
  font-size: large;
  list-style: none;
  line-height: 1.5;
}

.cards li span {
  display: block;
  font-size: 1.0rem;
  color: #444;
  margin-top: -10px;
  margin-bottom: 12px;
}



@media screen and (max-width: 900px) {
 .boi-container{
    display: flex;
   align-items: flex-start;
   gap: 4px;
   padding: 2px;
   flex-wrap: wrap;
   
}


.boi-img {
    display: inline-block;
    text-align: center;
}

.boi-img ul li{
    font-size: 2rem;
    text-align: start;
    
}

.boi-img h3{
  display: flex;
  text-align: start;
}

.boi-img img {
    width: 450px;
    height: 400px;
    display: block;
    margin: 0;
}


.boi_partes ul{
    column-count:1;
    display: inline-block;
    text-align: start;
    margin: 0; 
}


.boi_partes li{
    margin: 20px;
     padding: 20px 0;
    display: flex;
    justify-content: space-between; 
}

.boi-img ul{
   display: inline-block;
   padding: 10px;
   list-style-type: none;
}

.boi-img li{
    line-height: 2rem;
    justify-items: end;


}

.boi-img i {
   color: red;
  margin-right: 0px;   
  align-items: start;
  margin-left: 0px;
}


.boi_partes h5{
    color: #233E83;
    font-size: 20px;
    text-align: center;
    padding: 15px;   
     border-bottom: 2px solid #ccc;
}

.boi_partes ul tr td {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 50px;
   border-bottom: 2px solid #ccc;
  
  
}

.boi-img i{
    color: red;
  margin-right: 10px;   
  vertical-align: middle;
  margin-left: 500px;
  
}

.boi_partes tr i {
    color:red;
     margin-right: 2px; 
    vertical-align: middle;
    margin-left: 30px;
    
}

}



/*rodapé*/
footer .interface2{
    max-width: 100%;
}
  footer .line-footer2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 colunas iguais */
    gap: 20px;
    border-bottom: 1px solid #fff;
    margin: 20px;
    
    
  }


  footer .line-footer2 .box-line-footer {
    
    width:200px;
    text-align: center ;
    margin-bottom: 20px;

  }

  footer .box-line-footer img {
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }

  .box-line-footer .btn-redes button {
    font-size: 1.8rem;
    color: #233E83;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
   
  }

  footer .line-footer3 {
    text-align: center;
    padding-top: 10px;
    
    
  }

.line-footer2 .box-line-footer h3{
  line-height: 1.0rem;
  text-align: center;
    color: #233E83;
    margin-bottom: 10px;
    display: block;
}

.line-footer2 .box-line-footer a{
    color: #fff;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.0rem;
    transition: .2s;
    
    
}

.box-line-footer{
  display: grid;
  margin-left: 35%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px){
 /* menu mobile */
.topnav {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 1000;
  
  
}

.topnav #myLinks {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 62, 131, 0.95); 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 999;
}

.topnav #myLinks.show {
  display: flex; /* Só mostra quando adicionamos a classe 'show' */
}



.topnav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.6rem;
  display:flex; 
}

/* Estilo do botão hamburguer */
.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  padding: 14px;
  cursor: pointer;
  z-index: 1001; 
}

/* Hover */
.topnav a:hover {
  color: #d21709;
  
  
}
}





}



