section.slider{
    margin: 0 auto;
    width: 30%;
    height: auto;
      padding: 10px;
      overflow: hidden;
          
}
.silder-wrapper{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;

}

.slider-content{
    width: 400%;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none; 
}

.slide-box{
    width: 25%;
    transition: .2s;
    
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    margin-top: 30%;
    width: auto;
    display: flex;
    justify-content: center;
  
}

.nav-manual  .manual-btn , .nav-auto div{
    border: 2px solid #233E83;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right:8px;
}

.nav-manual .manual-btn:hover{
    background-color: #d21709;
}

#radio1:checked ~ .nav-auto  .auto-btn1{
    background-color: #d21709;
}

#radio2:checked ~ .nav-auto  .auto-btn2{
    background-color: #d21709;
}

#radio3:checked ~ .nav-auto  .auto-btn3{
    background-color: #d21709;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

.about-us-row {
    
    width: auto;
    max-width: auto;
    padding:40px 30px 90px 30px;
    background-color: #ECECEC;
    display: flex;
    gap: 20px;
    text-align: center;
} 

.about-us-row-item {
    flex: 1;
}

.container-sobre{
    background-color: #ECECEC ; /*teste*/
    
}

.container-sobre, .about-us-row{
    font-size: large;
    
}
.about-us-row img {
 width: 20%;
 
}