<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="/Plugins/bootstrap/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/conheça.css">
        <link rel="stylesheet" href="../css/responsive.css" media="screen">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <script src="/css/slide.js" defer></script>

    </head>
    <body>

        <header>

            <section class="top-header">
                <div class="interface">

                    <div class="Logotipo">
                        <a href="/index.html">
                            <img src="/image/top20.png" alt="#">
                        </a>
                    </div>

                    <div class="btn-social">
                        <a
                        target="_blank"
                            href="https://www.instagram.com/top20dourados/"><button><i
                                    class="fa-brands fa-instagram"></i></button></a>
                        <a
                        target="_blank"
                            href="https://api.whatsapp.com/send?phone=5567984374266&text=Ol%C3%A1!%20Eu%20vi%20seu%20an%C3%BAncio%20na%20internet.%20Gostaria%20de%20falar%20com%20um%20atendente."><button><i
                                    class="fa-brands fa-whatsapp"></i></button></a>
                        <a
                        target="_blank"
                            href="https://www.facebook.com/top20dourados/?locale=pt_BR"><button><i
                                    class="fa-brands fa-facebook-f"></i></button></a>
                    </div>
                </div>
            </section>
            <section class="bottom-header">
                <div class="interface">
                    <nav>
                        <ul>
                             <li><a href="/index.html">Home</a></li>
                                <li><a href="sobre.html">Sobre</a></li>
                                <li class="drop-hover"><a href="#">Serviços <i
                                            class="fa-solid fa-caret-down"></i></a>
                                    <div class="drop">
                                        <a href="espetinho.html">Espetinho</a>
                                        <a href="kits.html">Kit's</a>
                                        <a href="receitas.html">Receitas</a>
                                    </div>
                                </li>
                                <li><a href="conheçaaspeças.html">Escolha
                                        seu corte</a></li>
                                
                        </ul>
                        </ul>
                    </nav>

                </div>
            </section>
        </header>

        <div class="boi-container">
            <div class="boi-img">
                <img src="/image/Conheça_as_peças/boiatlz.png" alt="">
                <ul>
                    <h3>Modo de preparo:</h3>
                    <li> <i class="fi fi-rr-grill-hot-alt"></i> Grelhar   </li>
                    <li> <i class="fi fi-rr-bacon-egg"></i> Fritar </li>
                    <li> <i class="fi fi-rr-skewer"></i> Churrasco </li>
                    <li> <i class="fi fi-rr-bowl-spoon"></i> Ensopado </li>
                    <li> <i class="fi fi-rr-turkey"></i> Assar </li>
                    <li> <i class="fi fi-rr-pan-food"></i> Assado na Panela </li>
                </ul>
            </div>
             </div>
            <div class="boi_partes">
                <h5>CONFIRA ABAIXO A MELHOR OPÇÃO PARA VOCÊ FAZER A SUA CARNE!</h5>
                <ul>
                    
                    <table>
                        <tr><td> 1- Cupim <i class="fi fi-rr-skewer"></i> 
                        <i class="fi fi-rr-bowl-spoon"></i>
                         <i class="fi fi-rr-pan-food"></i> 
                         <i class="fi fi-rr-turkey"></i> </td></tr>
                        <tr><td>2- Acém <i class="fi fi-rr-bowl-spoon"></i> 
                        <i class="fi fi-rr-turkey"></i> </td></tr>
                        <tr><td>3- Contrafilé de Costela <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-bacon-egg"></i>
                          <i class="fi fi-rr-skewer"></i> 
                          <i class="fi fi-rr-turkey"></i> </td></tr>
                        <tr><td>4- Contrafilé de Lombo <i class="fi fi-rr-grill-hot-alt"></i> 
                        <i class="fi fi-rr-bacon-egg">
                        </i> <i class="fi fi-rr-skewer">
                        </i> <i class="fi fi-rr-turkey"></i></td></tr>
                        <tr><td>5- Filé Mignon <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-bacon-egg"></i>
                          <i class="fi fi-rr-skewer"></i>
                           <i class="fi fi-rr-turkey"></i></td></tr>
                           <tr><td>6- Picanha <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-skewer"></i>
                          <i class="fi fi-rr-turkey"></i> 
                          <i class="fi fi-rr-pan-food"></i> </td></tr>
                           <tr><td>7- Miolo de Alcatra <i class="fi fi-rr-grill-hot-alt"></i> 
                        <i class="fi fi-rr-bacon-egg"></i>
                         <i class="fi fi-rr-skewer"></i> 
                         <i class="fi fi-rr-turkey"></i>
                          <i class="fi fi-rr-pan-food"></i></td></tr>
                           <tr><td>8- Coxão Duro <i class="fi fi-rr-bowl-spoon"></i>
                         <i class="fi fi-rr-turkey"></i>
                          <i class="fi fi-rr-pan-food"></i></td></tr>
                           <tr><td>9- Coxão Mole <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-bacon-egg"></i>
                          <i class="fi fi-rr-turkey"></i> 
                          <i class="fi fi-rr-pan-food"></i></td></tr>
                           <tr><td>10- Lagarto/Tatu <i class="fi fi-rr-bowl-spoon"></i> 
                        <i class="fi fi-rr-turkey"></i> 
                        <i class="fi fi-rr-pan-food"></i></td></tr>
                            <tr><td>11- Rabo <i class="fi fi-rr-bowl-spoon"></i></td></tr>
                            <tr><td>12- Músculo Traseiro <i class="fi fi-rr-bowl-spoon"></i></td></tr>
                            <tr><td>13- Patinho <i class="fi fi-rr-grill-hot-alt"></i> 
                        <i class="fi fi-rr-bacon-egg"></i>
                         <i class="fi fi-rr-bowl-spoon"></i> 
                         <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>14- Maminha <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-skewer"></i>
                          <i class="fi fi-rr-turkey"></i> 
                          <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>15- Fraldinha <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-bacon-egg"></i> 
                         <i class="fi fi-rr-skewer"></i>
                          <i class="fi fi-rr-bowl-spoon"></i>
                           <i class="fi fi-rr-turkey"></i>
                            <i class="fi fi-rr-pan-food"></i></td></tr>
                            <tr><td>16- Costela <i class="fi fi-rr-skewer"></i> 
                        <i class="fi fi-rr-bowl-spoon"></i>
                         <i class="fi fi-rr-turkey"></i> 
                         <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>17- Costela Ponta de Agulha <i class="fi fi-rr-skewer"></i>
                         <i class="fi fi-rr-bowl-spoon"></i> 
                         <i class="fi fi-rr-turkey"></i>
                          <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>18- Miolo da Paleta <i class="fi fi-rr-bowl-spoon"></i>
                         <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>19- Raquete <i class="fi fi-rr-grill-hot-alt"></i>
                         <i class="fi fi-rr-bowl-spoon"></i>
                          <i class="fi fi-rr-turkey"></i>
                           <i class="fi fi-rr-pan-food"></i></td></tr>
                            <tr><td>20- Peixinho <i class="fi fi-rr-grill-hot-alt"></i> 
                        <i class="fi fi-rr-bowl-spoon"></i>
                         <i class="fi fi-rr-turkey"></i>
                          <i class="fi fi-rr-pan-food"></i> </td></tr>
                            <tr><td>21- Pescoço <i class="fi fi-rr-bowl-spoon"></i> 
                        <i class="fi fi-rr-turkey"></i> </td></tr>
                            <tr><td>22- Peito <i class="fi fi-rr-skewer"></i>
                         <i class="fi fi-rr-bowl-spoon"></i> 
                         <i class="fi fi-rr-turkey"></i> </td></tr>
                             <tr><td>23- Músculo Dianteiro <i class="fi fi-rr-bowl-spoon"></i></td></tr>


                    </ul>
                    </table>
            </div>
        </div>

        
       

    </body>
   <footer>
  <div class="interface2">
    <div class="rodape">
      <section class="line-footer1">
        <h4>Quer ficar por dentro das promoções?</h4>
        <p>Digite seu e-mail e receba as promoções no seu e-mail</p>
        <form action="">
          <input type="email" placeholder="Digite seu e-mail">
          <input type="submit" value="Cadastrar">
        </form>
      </section>

      <section class="line-footer2">
        <div class="box-line-footer">
          <h2>Links úteis.</h2>
          <div class="links-footer">
            <a href="./view/sobre.html">Sobre nós</a>
            <a href="./view/conheçaaspeças.html">Cortes das Carnes</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h2>Localização.</h2>
          <div class="links-footer">
            <a target="_blank" href="https://www.google.com/maps/...">Como chegar?</a>
            <a>R. Hayel Bon Faker, 1350</a>
            <a>Jardim Água Boa, Dourados-MS</a>
            <a>79811-100</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h2>Fale com a nossa equipe.</h2>
          <div class="links-footer">
            <a target="_blank" href="https://api.whatsapp.com/send?...">Chame no WhatsApp</a>
            <a target="_blank" href="https://www.instagram.com/top20dourados/">Envie uma DM</a>
            <a target="_blank" href="tel:+55(67)98437-4266">Precisa ligar?</a>
          </div>
        </div>

        <div class="box-line-footer">
          <img src="../image/top20.png" alt="Logotipo Top20">
        </div>
      </section>

      <section class="line-footer3">
        <p>&copy; 2025, Todos os direitos reservados.</p>
      </section>
    </div>
  </div>
</footer>
</html>