<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="/Plugins/bootstrap/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="./css/galeria.css">
  <link rel="stylesheet" href="../css/responsive.css" media="screen">
        <link rel="stylesheet" href="./css/carousel.js">
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


        <title>Top20</title>
    </head>
    <body>

        <header>

            <section class="top-header">
                <div class="interface">

                    <div class="Logotipo">
                        <a href="../index.html">
                            <img src="/image/top20.png" alt="logo">
                        </a>
                    </div>

                    <div class="btn-social">
                        <a
                            target="_blank"
                            href="https://www.instagram.com/top20dourados/"><button><i
                                 class="fa-brands fa-instagram"></i></button></a>
                        <a
                            target="_blank"
                            href="https://api.whatsapp.com/send?phone=5567984374266&text=Ol%C3%A1!%20Eu%20vi%20seu%20an%C3%BAncio%20na%20internet.%20Gostaria%20de%20falar%20com%20um%20atendente."><button><i
                                    class="fa-brands fa-whatsapp"></i></button></a>
                        <a
                            target="_blank"
                            href="https://www.facebook.com/top20dourados/?locale=pt_BR"><button><i
                                    class="fa-brands fa-facebook-f"></i></button></a>
                    </div>

                </section>
                <section class="bottom-header">
                    <div class="interface">
                        <nav>
                            <ul>
                               <li><a href="/index.html">Home</a></li>
                                <li><a href="sobre.html">Sobre</a></li>
                                <li class="drop-hover"><a href="#">Serviços <i
                                            class="fa-solid fa-caret-down"></i></a>
                                    <div class="drop">
                                        <a href="espetinho.html">Espetinho</a>
                                        <a href="kits.html">Kit's</a>
                                        <a href="receitas.html">Receitas</a>
                                    </div>
                                </li>
                                <li><a href="conheçaaspeças.html">Escolha
                                        seu corte</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </section>
            </header>

            <div class="container-kits">
                <h5>Conheça os kits que temos em nossa loja</h5>
                <div class="dia-dia-img">
                    <img src="../image/kit_semanal_carne_nomes_corrigidos_bonitos_v3.webp" alt="">
                    <div class="p">
                        <p>O nosso kit semanal contém:</p>
            
                        <ul>
                        <li>Filé de peito de frango porcionado (aprox. 250g)</li>
                        <li>Filé de peito de frango temperado (aprox. 250g)</li>
                        <li>Medalhão de filé mignon (aprox. 300g)</li>
                        <li>Tiras de baby beef (aprox. 180g)</li>
                        <li>Strogonoff de bombom (aprox. 180g)</li>
                            
                    </ul>
                    </div>
                </div>
                
                <div class="dia-dia-img">
                    <img src="../image/kit_churrasco_500x500.webp" alt="">
                    <div class="p">
                        <p>Kit churrasco completo contém:</p>
            
                        <ul>
                        <li> Flat Iron</li>
                        <li> Ribeye in natura</li>
                        <li> Frango temperado</li>
                        <li> NY Suíno</li>
                        <li> Picanha</li>
                        <li> Fraldinha</li>
                        <li> Pão de Alho</li>
                        <li> Linguiça</li>
                        <li> Bandeja coração</li>
                    </ul>                    
                 </div>
                </div>
            </div>

            <footer>
  <div class="interface2">
    <div class="rodape">
      <section class="line-footer1">
        <h4>Quer ficar por dentro das promoções?</h4>
        <p>Digite seu e-mail e receba as promoções no seu e-mail</p>
        <form action="">
          <input type="email" placeholder="Digite seu e-mail">
          <input type="submit" value="Cadastrar">
        </form>
      </section>

      <section class="line-footer2">
        <div class="box-line-footer">
          <h3>Links úteis.</h3>
          <div class="links-footer">
            <a href="./view/sobre.html">Sobre nós</a>
            <a href="./view/conheçaaspeças.html">Cortes das Carnes</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Localização.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://www.google.com/maps/...">Como chegar?</a>
            <a>R. Hayel Bon Faker, 1350</a>
            <a>Jardim Água Boa, Dourados-MS</a>
            <a>79811-100</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Fale com a nossa equipe.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://api.whatsapp.com/send?...">Chame no WhatsApp</a>
            <a target="_blank" href="https://www.instagram.com/top20dourados/">Envie uma DM</a>
            <a target="_blank" href="tel:+55(67)98437-4266">Precisa ligar?</a>
          </div>
        </div>

        <div class="box-line-footer">
          <img src="../image/top20.png" alt="Logotipo Top20">
        </div>
      </section>

      <section class="line-footer3">
        <p>&copy; 2025, Todos os direitos reservados.</p>
      </section>
    </div>
  </div>
</footer>
             
               

           


