<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="/Plugins/bootstrap/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/escondidinho.css">
        

        
    </head>
    <body>
        

        <header>

            <section class="top-header">
                <div class="interface">

                    <div class="Logotipo">
                        <a href="../index.html">
                            <img src="/image/top20.png" alt="logo">
                        </a>
                    </div>

                    <div class="btn-social">
                        <a
                            target="_blank"
                            href="https://www.instagram.com/top20dourados/"><button><i
                                    class="fa-brands fa-instagram"></i></button></a>
                        <a
                            target="_blank"
                            href="https://api.whatsapp.com/send?phone=5567984374266&text=Ol%C3%A1!%20Eu%20vi%20seu%20an%C3%BAncio%20na%20internet.%20Gostaria%20de%20falar%20com%20um%20atendente."><button><i
                                    class="fa-brands fa-whatsapp"></i></button></a>
                        <a
                            target="_blank"
                            href="https://www.facebook.com/top20dourados/?locale=pt_BR"><button><i
                                    class="fa-brands fa-facebook-f"></i></button></a>
                    </div>

                </section>
                <section class="bottom-header">
                    <div class="interface">
                        <nav>
                            <ul>
                                 <li><a href="/index.html">Home</a></li>
                                <li><a href="sobre.html">Sobre</a></li>
                                <li class="drop-hover"><a href="#">Serviços <i
                                            class="fa-solid fa-caret-down"></i></a>
                                    <div class="drop">
                                        <a href="espetinho.html">Espetinho</a>
                                        <a href="kits.html">Kit's</a>
                                        <a href="receitas.html">Receitas</a>
                                    </div>
                                </li>
                                <li><a href="conheçaaspeças.html">Escolha
                                        seu corte</a></li>
                                
                        </ul>
                        </nav>
                    </div>
                </section>
            </header>

          <div class="img-receita"></div>
       <div class="card-receitas">
        <div class="cards">
            <h1>INGREDIENTES</h1>
            <ul>
                <li>1 kg de mandioca cozida</li>
                <li>2 Colheres de margarina</li>
                <li>1 Cebola média picadinha</li>
                <li>2 Tomates sem casca e picados</li>
                <li>Pimenta a gosto</li>
                <li>1 Lata de creme de leite com soro</li>
                <li>1/2 kg de carne-seca dessalgada e cozida</li>
                <li>4 Dentes de alho esmagados</li>
                <li>Sal</li>
                <li>Queijo ralado a gosto</li>
            </ul>
        </div>
        <div class="cards">
            <h1>MODO DE PREPARO</h1>
            <ol>
                <li>Esprema a mandioca ainda quente e leve em uma panela com a margarina e sal.</li>
                <li>Quando estiverem bem misturados acrescente o creme de leite, misture e reserve</li>
                <li>Refogue a cebola e o alho em um fio de azeite.</li>
                <li>Acrescente a carne-seca desfiada e deixe fritar um pouco.</li>
                <li>Acrescente os tomates e deixe cozinhar até ficarem murchos e acerte o sal se achar necessário.Acrescente os tomates e deixe cozinhar até ficarem murchos e acerte o sal se achar necessário.</li>
                <li>Em um refratário untado com azeite, coloque uma camada do purê de mandioca, a carne seca e termine com o restante do purê.</li>
            </ol>
        </div>
       </div>

        <div class="img-receita" style="background-image: url(../image/ImgReceitas/arrozcarreteiro.webp);"></div>
       <div class="card-receitas">
        <div class="cards">
            <h1>INGREDIENTES</h1>
            <ul>
                <li>1 kg de carne seca</li>
                <li>1 colher de sopa de cheiro-verde</li>
                <li>2 dentes de alho picados</li>
                <li>Sal a gosto</li>
                <li>1 cebola picada</li>
                <li>2 xícaras de chá de arroz</li>
                <li>6 colheres de sopa de azeite</li>
            </ul>
        </div>
        <div class="cards">
            <h1>MODO DE PREPARO</h1>
            <ol>
                <li>Deixe a carne seca de molho de véspera, troque a água e cozinhe até ficar macia.</li>
                <li>Desfie.</li>
                <li>Frite-a em uma panela com azeite.</li>
                <li>Quando a carne estiver dourada, coloque a cebola e o alho.</li>
                <li>Junte o arroz e frite, depois acrescente a água fervente e cozinhe em fogo baixo até o arroz ficar macio.</li>
                <li>Salpique o cheiro-verde e sirva em seguida. Bom apetite</li>
                
            </ol>
        </div>
       </div>

       <div class="img-receita" style="background-image: url(../image/ImgReceitas/costela-assada.webp);"></div>
       <div class="card-receitas">
        <div class="cards">
            <h1>INGREDIENTES</h1>
            <ul>
                <li>1 peça de costela bovina (aproximadamente 1,5 kg)</li>
                <li>3 dentes de alho amassados</li>
                <li>Sal grosso a gosto</li>
                <li>Pimenta-do-reino a gosto</li>
                <li>1 cebola grande em rodelas</li>
                <li>2 colheres de sopa de óleo ou azeite</li>
                <li>Papel alumínio</li>
            </ul>
        </div>
        <div class="cards">
            <h1>MODO DE PREPARO</h1>
            <ol>
                <li>Preaqueça o forno a 200 °C.</li>
                <li>Tempere a costela com sal grosso, alho e pimenta-do-reino.</li>
                <li>Em uma assadeira, forre o fundo com as rodelas de cebola e coloque a costela por cima com o osso virado para baixo.</li>
                <li>Regue com azeite e cubra com papel alumínio.</li>
                <li>Leve ao forno por 2 horas.</li>
                <li>Retire o papel alumínio e asse por mais 30 a 40 minutos para dourar.</li>
                
            </ol>
        </div>
       </div>
             </body>
               <footer>
  <div class="interface2">
    <div class="rodape">
      <section class="line-footer1">
        <h4>Quer ficar por dentro das promoções?</h4>
        <p>Digite seu e-mail e receba as promoções no seu e-mail</p>
        <form action="">
          <input type="email" placeholder="Digite seu e-mail">
          <input type="submit" value="Cadastrar">
        </form>
      </section>

      <section class="line-footer2">
        <div class="box-line-footer">
          <h3>Links úteis.</h3>
          <div class="links-footer">
            <a href="./view/sobre.html">Sobre nós</a>
            <a href="./view/conheçaaspeças.html">Cortes das Carnes</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Localização.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://www.google.com/maps/...">Como chegar?</a>
            <a>R. Hayel Bon Faker, 1350</a>
            <a>Jardim Água Boa, Dourados-MS</a>
            <a>79811-100</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Fale com a nossa equipe.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://api.whatsapp.com/send?...">Chame no WhatsApp</a>
            <a target="_blank" href="https://www.instagram.com/top20dourados/">Envie uma DM</a>
            <a target="_blank" href="tel:+55(67)98437-4266">Precisa ligar?</a>
          </div>
        </div>

        <div class="box-line-footer">
          <img src="../image/top20.png" alt="Logotipo Top20">
        </div>
      </section>

      <section class="line-footer3">
        <p>&copy; 2025, Todos os direitos reservados.</p>
      </section>
    </div>
  </div>
</footer>
    
    </html>
