<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="/Plugins/bootstrap/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="/css/slide.css">
        <link rel="stylesheet" href="../css/responsive.css" media="screen">
        <script src="/css/slide.js" defer></script>

    </head>
    <body>

        <header>

            <section class="top-header">
                <div class="interface">

                     <section class="top-header">
                <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <!-- Top Navigation Menu -->
                <div class="topnav">
                <a href="#home" class="active"></a>
                <div id="myLinks">
                    <a href="/index.html">Home</a>
                    <a href="/view/sobre.html">Sobre</a>
                    <a href="/view/espetinho.html">Espetinho</a>
                    <a href="/view/kits.html">Kit's</a>
                    <a href="/view/receitas.html">Receitas</a>
                    <a href="/view/conheçaaspeças.html">Conheça as peças</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa-solid fa-bars"></i>
                </a>
                </div>

                    <div class="Logotipo">
                        <a href="/index.html">
                            <img src="/image/top20.png" alt="#">
                        </a>
                    </div>

                    <div class="btn-social">
                        <a
                        target="_blank"
                            href="https://www.instagram.com/top20dourados/"><button><i
                                    class="fa-brands fa-instagram"></i></button></a>
                        <a
                        target="_blank"
                            href="https://api.whatsapp.com/send?phone=5567984374266&text=Ol%C3%A1!%20Eu%20vi%20seu%20an%C3%BAncio%20na%20internet.%20Gostaria%20de%20falar%20com%20um%20atendente."><button><i
                                    class="fa-brands fa-whatsapp"></i></button></a>
                        <a
                        target="_blank"
                            href="https://www.facebook.com/top20dourados/?locale=pt_BR"><button><i
                                    class="fa-brands fa-facebook-f"></i></button></a>
                    </div>
                </div>
            </section>
            <section class="bottom-header">
                <div class="interface">
                    <nav>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                                <li><a href="sobre.html">Sobre</a></li>
                                <li class="drop-hover"><a href="#">Serviços <i
                                            class="fa-solid fa-caret-down"></i></a>
                                    <div class="drop">
                                        <a href="espetinho.html">Espetinho</a>
                                        <a href="kits.html">Kit's</a>
                                        <a href="receitas.html">Receitas</a>
                                    </div>
                                </li>
                                <li><a href="conheçaaspeças.html">Escolha
                                        seu corte</a></li>
                                
                        </ul>
                    </nav>

                </div>
            </section>
        </header>
        <div class="container-sobre">
            <div class="text">
                <h1>Conheça nossa história</h1>
                <p>Inaugurada em 2020, a Top20 Açougue e Conveniência se destaca
                    pela qualidade dos cortes, variedade de produtos e
                    atendimento diferenciado.</p>
                <p>Oferecemos carnes selecionadas e uma linha
                    completa de conveniência para facilitar o seu dia a dia.
                    Aqui, o cliente encontra confiança, praticidade e um serviço feito
                    com dedicação.
                </p>
            </div>
        </div>

        <section class="slider">
            <div class="slider-wrapper">
                <div class="slider-content">

                    <input type="radio" name="btn-radio" id="radio1">
                    <input type="radio" name="btn-radio" id="radio2">
                    <input type="radio" name="btn-radio" id="radio3">

                    <div class="slide-box  primeiro">
                        <img class="img-desktop" src="/image/top20a.png"
                            alt="slide1">
                        <img class="img-mobile" src="/image/1.png"
                            alt="slide1">
                    </div>

                    <div class="slide-box ">
                        <img class="img-desktop" src="/image/top20b.png"
                            alt="slide3">
                        <img class="img-mobile" src="/image/2.png"
                            alt="slide1">
                    </div>

                    <div class="slide-box ">
                        <img class="img-desktop" src="/image/top20c.png"
                            alt="slide3">
                        <img class="img-mobile" src="/image/3.png"
                            alt="slide3">
                    </div>

                    <div class="nav-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                    </div>

                    <div class="nav-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                    </div>
                </div>

            </section>
                <div class="about-us-row">
                    <div class="about-us-row-item">
                        <img src="/image/alvo.png" alt>
                        <h3>NOSSA MISSÃO</h3>
                        <p>A nossa missão é simples: oferecer carnes
                            fresquinhas, de
                            alta qualidade e um atendimento personalizado para
                            garantir
                            que você tenha a melhor experiência possível. Porque
                            o
                            seu
                            prazer e satisfação são a nossa prioridade.</p>
                    </div>

                    <div class="about-us-row-item">
                        <img src="/image/diamante.png" alt>
                        <h3>VALORES DA EMPRESA</h3>
                        <p>A paixão em trabalhar com pessoas, o prazer em
                            satisfazê-las com a qualidade superior dos nossos
                            produtos e a eficiência, comprometimento, respeito e
                            transparência da nossa equipe, são princípios que
                            teremos afinco em defendê-los.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer>
  <div class="interface2">
    <div class="rodape">
      <section class="line-footer1">
        <h4>Quer ficar por dentro das promoções?</h4>
        <p>Digite seu e-mail e receba as promoções no seu e-mail</p>
        <form action="">
          <input type="email" placeholder="Digite seu e-mail">
          <input type="submit" value="Cadastrar">
        </form>
      </section>

      <section class="line-footer2">
        <div class="box-line-footer">
          <h3>Links úteis.</h3>
          <div class="links-footer">
            <a href="./view/sobre.html">Sobre nós</a>
            <a href="./view/conheçaaspeças.html">Cortes das Carnes</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Localização.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://www.google.com/maps/...">Como chegar?</a>
            <a>R. Hayel Bon Faker, 1350</a>
            <a>Jardim Água Boa, Dourados-MS</a>
            <a>79811-100</a>
          </div>
        </div>

        <div class="box-line-footer">
          <h3>Fale com a nossa equipe.</h3>
          <div class="links-footer">
            <a target="_blank" href="https://api.whatsapp.com/send?...">Chame no WhatsApp</a>
            <a target="_blank" href="https://www.instagram.com/top20dourados/">Envie uma DM</a>
            <a target="_blank" href="tel:+55(67)98437-4266">Precisa ligar?</a>
          </div>
        </div>

        <div class="box-line-footer">
          <img src="../image/top20.png" alt="Logotipo Top20">
        </div>
      </section>

      <section class="line-footer3">
        <p>&copy; 2025, Todos os direitos reservados.</p>
      </section>
    </div>
  </div>
</footer>

        </div>
        </div>
    </footer>
    <script>
    function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
</html>